/* --- import styles --- */

@import url("fonts.css");
@import url("variables.css");
@import url("constants.css");

/* --- header --- */

.header__box {
    position: relative;
}
.header__first-level {
    background: #F2F2F2;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.fa-envelope, .fa-phone-square, .fa-fax {
    font-size: 1.125rem;
    color: var(--mainColor);
    text-decoration: none;
    margin-right: 6px;
    margin-top: 3px;
}
.header__skype-icon-link {
    margin: 5px 14px 0px 0px;
    text-decoration: none;
}
.header__skype-icon-link:hover {
    background: #01a8e7;
    border-radius: 15px;
}
.header__viber-icon-link {
    text-decoration: none;
    margin: 5px 45px 0px 0px;
}
.header__viber-icon-link:hover {
    background: #9b45c7;
    border-radius: 15px;
}
.header__contacts-mail-link, .header__contacts-phone-link {
    color: var(--letterColor);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    border-bottom: 2px dashed var(--mainColor);
    padding-bottom: 1px;
    margin-top: 5px;
}
.header__contacts-mail-link {
    margin-right: 43px;
}
.header__contacts-mail-link:hover, .header__contacts-phone-link:hover {
    color: var(--mainColor);
}
.header__contacts-block {
    margin-top: 1px;
}
.header__second-level {
    display: flex;
    justify-content: space-between;
}
.header__logo-block {
    margin-top: -16px;
}
.header__logo-link {
    color: var(--letterColor);
    text-decoration: none;
    display: flex;
}
.header__logo-text {
    font-family: 'Parsek', Roboto, sans-serif;
    font-size: 37px;
    margin: 9px 0px 0px 16px;
}
.header__menu-block-list {
    list-style-type: none;
    display: flex;
    margin-top: 8px;
}
.header__menu-block-list-item-link {
    color: var(--letterColor);
    text-decoration: none;
}
.header__menu-block-list-item {
    font-size: 1.188rem;
    font-weight: 700;
    margin-right: 25px;
    padding: 7px 7px;
}
.header__menu-block-list-item:hover {
    padding: 4px 4px;
    border: 3px solid #B8DAFF;
    border-radius: 10px;
    cursor: pointer;
}
.header__menu-block-list-item:last-child {
    margin-right: 0px;
}
.header__bth-call-block {
    margin-top: 16px;
}
.header__bth-call-block-link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    background: var(--mainColor);
    padding: 10px 11px;
    border-radius: 10px;
}
.header__bth-call-block-link:hover {
    padding: 7px 8px;
    border: 3px solid var(--mainColor);
    background: #fff;
    color: var(--letterColor);
}

/* --- menu-service --- */

.box__menu-services {
    border: 3.5px solid #7FA9EC;
    border-radius: 10px;
    position: absolute;
    top: 75px;
    left: 130px;
    background: #fff;
    padding: 25px 15px 5px 15px;
    width: 390px;
    box-shadow: 0px 0px 40px #686868;
}
.menu__services-list {
    list-style-type: none;
}
.menu__services-list-item-link {
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
}
.menu__services-list-item {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--letterColor);
    margin-left: 12px;
}
.menu__services-list-item:nth-child(2) {
    margin-top: 8px;
}
.menu__services-list-item:hover {
    border-bottom: 2px dashed var(--mainColor);
    padding-bottom: 1px;
    color: var(--mainColor);
}

/* --- menu-company --- */

.box__menu-company {
    border: 3.5px solid #7FA9EC;
    border-radius: 10px;
    position: absolute;
    top: 75px;
    right: 402px;
    background: #fff;
    padding: 25px 15px 5px 15px;
    width: 215px;
    box-shadow: 0px 0px 40px #686868;
    z-index: 2;
}
.menu__company-list {
    list-style-type: none;
}
.menu__company-list-item-link {
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
}
.menu__company-list-item {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--letterColor);
    margin-left: 12px;
}
.menu__company-list-item:hover {
    border-bottom: 2px dashed var(--mainColor);
    padding-bottom: 1px;
}

/* --- menu-mobile --- */

.header__menu-mobile-btn {
    display: none;
    padding-right: 30px;
}
.header__menu-mobile-span {
    height: 8px;
    background: var(--mainColor);
    border-radius: 5px;
    margin-top: 7px;
    display: block;
}
.header__menu-mobile-span:nth-child(1) {
    width: 50px;
}
.header__menu-mobile-span:nth-child(2) {
    width: 45px;
}
.header__menu-mobile-span:nth-child(3) {
    width: 40px;
}
.header__menu-mobile-block-list {
    list-style-type: none;
    width: 250px;
    border: 3px solid var(--mainColor);
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    background: #fff;
    right: 20px;
    top: 85px;
    box-shadow: 0px 0px 40px #686868;
    z-index: 2;
}
.header__menu-mobile-block-list-close {
    position: absolute;
    right: 11px;
    font-size: 20px;
    color: var(--mainColor);
}
.header__menu-mobile-block-list-item {
    font-size: 1.09rem;
    font-weight: 700;
    margin: 15px auto;
}
.header__menu-mobile-block-list-item-link {
    color: var(--letterColor);
    text-decoration: none;
}
.header__menu-mobile-block-list-item-link:active {
    color: var(--mainColor);
}
/* --- */
.menu__services-mobile-list {
    list-style-type: none;
    margin: 20px 0px;
}
.menu__services-mobile-list-item-link {
    display: flex;
    text-decoration: none;
}
.menu__services-mobile-list-img {
    width: 37px;
    margin-left: 15px;
}
.menu__services-mobile-list-item {
    color: var(--mainColor);
    font-size: 0.87rem;
    margin: 8px 18px;
    line-height: 20px;
}
/* --- */
.menu__company-mobile-list {
    list-style-type: none;
    margin: 20px 0px;
}
.menu__company-mobile-list-block {
    margin-left: 25px;
}
.menu__company-mobile-list-item-link {
    display: flex;
    text-decoration: none;
}
.menu__company-mobile-list-img {
    width: 19px;
    margin-left: 15px;
}
.menu__company-mobile-list-item {
    color: var(--mainColor);
    font-size: 0.87rem;
    margin: 8px 18px;
    line-height: 20px;
}

/* --- first --- */

#first {
    padding-bottom: 90px;
}
.container__first {
    display: flex;
}
.container__first-head {
    margin-top: 65px;
}
.container__first-head-text {
    font-size: 2.200rem;
    font-weight: 800;
    line-height: 47px;
    width: 590px;
}
.container__first-head-text-mobile {
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 39px;
    width: auto;
    display: none;
}
.container__first-head-link-block {
    margin-top: 42px;
}
.container__first-head-link {
    font-size: 1.563rem;
    font-weight: 700;
    padding: 15px 25px;
    background: var(--mainColor);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
}
.container__first-head-link:hover {
    color: var(--letterColor);
    padding: 12px 22px;
    border: 3px solid var(--mainColor);
    background: #fff;
}
.container__first-advantage {
    margin-top: 55px;
    margin-left: 128px;
}
.container__first-advantage-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container__first-advantage-block-element {
    width: 165px;
    background: #F2F2F2;
    box-shadow: 0px 10px 21px -15px #000000;
    padding: 12px 0px 35px 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}
.container__first-advantage-block-element:hover {
    box-shadow: 0px 10px 21px -12px #000000;
}
.container__first-advantage-block-element-text {
    font-size: 1.188rem;
    font-weight: 500;
    line-height: 26px;
}
.container__first-advantage-block-element-text-span {
    font-size: 1.688rem;
    font-weight: 700;
    border-bottom: 4px solid #B8DAFF;
}
.container__first-advantage-block-element-circle {
    background: #fff;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 8px;
}
.fa-truck-loading, .fa-user, .fa-globe,
.fa-truck-moving {
    margin-top: 10px;
    font-size: 27px;
    color: var(--mainColor);
}
.container__first-index-img-block {
    text-align: center;
    margin: 0px auto;
}
.container__first-index-img-block:hover {
    margin-left: 15px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

/* --- services --- */

#services {
    padding-bottom: 40px;
}
.box__services-link {
    display: flex;
    justify-content: space-evenly;
}
.services__link-block {
    padding: 13px 10px 5px 10px;
    background: var(--mainColor);
    display: flex;
    border-radius: 10px;
    color: #fff;
}
.services__link-block:hover {
    cursor: pointer;
}
.services__link-block.is-active {
    background: #fff;
    border: 3px solid var(--mainColor);
    padding: 10px 7px 2px 7px;
    color: var(--mainColor);
}
.services__link-block-two {
    margin-top: 3.5px;
    text-decoration: none;
    font-size: 1.063em;
    font-weight: 600;
    margin-left: 15px;
}
.box__services-data {
    display: none;
}
.box__services-data.is-active {
    display: block;
}
.services__link-block.is-active .services__link-img path {
    stroke: var(--mainColor);
    fill: white;
}
.services__link-block:hover {
    box-shadow: 0px 0px 5px var(--mainColor);
}

.services__data-img-block {
    text-align: center;
    margin: 85px auto 30px auto;
}
.services__data-block {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    margin-top: 50px;
}
.services__data-list {
    list-style-type: none;
}
.services__data-list-item-block {
    display: flex;
}
.services__data-list-item {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 12px;
}
.fa-arrows-alt-h {
    color: var(--mainColor);
    margin-right: 6px;
}
.fa-arrows-alt-v {
    color: var(--mainColor);
    margin: 0px 10px 0px 4px;
}
.fa-weight {
    color: var(--mainColor);
    margin-right: 5px;
}
.fa-arrows-alt {
    color: var(--mainColor);
    margin-right: 5px;
}
.fa-equals {
    color: var(--mainColor);
    margin: 0px 6px 0px 0.5px;
}
.fa-thermometer-half {
    color: var(--mainColor);
    margin: 0px 7px 0px 4px;
}
.box__services-btn {
    text-align: center;
    margin: 30px auto 30px auto;
}
.services__btn-link {
    font-size: 1.438rem;
    font-weight: 700;
    color: #fff;
    background: var(--mainColor);
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 15px;
}
.services__btn-link:hover {
    color: var(--letterColor);
    background: #fff;
    padding: 4px 17px;
    border: 3px solid var(--mainColor);
}

/* --- advantage --- */

#advantage {
    margin-top: 60px;
    margin-bottom: 90px;
}
.section__advantage-list-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
.section__advantage-block {
    background: #F2F2F2;
    width: 213px;
    border-radius: 15px;
    text-align: center;
    margin: 0px 15px 20px 15px;
}
.section__advantage-block:hover {
    margin-top: -10px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.section__advantage-block-text {
    font-size: 1.063rem;
    font-weight: 500;
    padding-bottom: 17px;
    line-height: 28px;

}
.section__advantage-block-img {
    margin: 15px auto;
}

/* --- procedure --- */

#procedure {
    padding-bottom: 10px;
}
.procedure__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.procedure__list-item {
    width: 262px;
    background: #F2F2F2;
    border-radius: 10px;
    margin: 10px 11px 60px 11px;
    text-align: center;
    position: relative;
}
.procedure__list-item:hover
.procedure__list-item-number {
    color: var(--mainColor);
}
.procedure__list-item-number {
    font-size: 70px;
    color: #ACACAC;
    font-weight: 800;
    position: absolute;
    right: 0;
    top: -50px;
}
.procedure__list-item:hover {
    box-shadow: 0px 10px 21px -12px #000000;
}
.procedure__list-item-img {
    margin: 20px auto;
}
.procedure__list-item-text {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 30px 0px;
    border-top: 2px dashed #A0A0A0;
}

/* --- call-2-action --- */

#call-2-action {
    padding-bottom: 60px;
}
.box__form-call-2-action {
    width: 945px;
    border: 3px solid var(--mainColor);
    border-radius: 15px;
    margin: 0px auto;
}
.box__form-call-2-action-text {
    font-size: 1.188rem;
    font-weight: 600;
    margin: 23px auto 5px auto;
    text-align: center;
}
.form__call-2-action-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.icon-input-form-call {
    position: absolute;
    color: #7BA5E8;
    font-size: 1.063rem;
    z-index: 1;
    top: 13px;
    right: 215px;
}
.form__call-2-action-block-btn {
    margin-top: 3px;
}
.box__form-call-2-action-error {
    color: tomato;
    margin: 0px auto 15px auto;
    text-align: center;
    font-size: 1.063rem;
    font-weight: 500;
}

/* --- technology --- */

#technology {
    padding-bottom: 80px;
}
.technology__slider-box {
    text-align: center;
    margin: 0px auto;
    position: relative;
    margin-top: 40px;
}
.technology-arrow-left {
    position: absolute;
    left: 0px;
    top: 240px;
}
.technology-arrow-right {
    position: absolute;
    right: 0px;
    top: 240px;
}
.technology-arrow-left:hover,
.technology-arrow-right:hover {
    margin-top: -10px;
    cursor: pointer;
}
.technology__slider-block {
    display: flex;
    justify-content: space-evenly;
}
.technology__slider-block-link {
    margin-top: 20px;
}
.technology__slider-block-link-two {
    display: none;
    margin-top: 26px;
}
.technology__slider-description-head {
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    margin: 0px auto;
    line-height: 37px;
}
.technology__slider-description-head-span {
    font-weight: 800;
}
.technology__slider-description-list {
    list-style-type: none;
    text-align: left;
    margin: 35px 0px;
}
.technology__slider-description-list-item {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 6px;
    padding: 5px 0px;
}
.technology__slider-description-list-item:nth-child(even) {
    background: #E9F2FF;
}
.technology__slider-description-text {
    font-size: 1rem;
    font-weight: 500;
    width: 518px;
    text-align: left;
    line-height: 27px;
}

/* --- reviews --- */

#reviews {
    padding-bottom: 90px;
}
.reviews__box {
    position: relative;
}
.reviews-arrow-left {
    position: absolute;
    left: 0;
    top: 60px;
}
.reviews-arrow-right {
    position: absolute;
    right: 0;
    top: 60px;
}
.reviews-arrow-left:hover,
.reviews-arrow-right:hover {
    cursor: pointer;
    margin-top: -5px;
}
.reviews__box-slider {
    display: flex;
    justify-content: space-evenly;
}
.reviews__box-descriptions {
    width: 263px;
}
.reviews__box-descriptions-name {
    font-size: 1.063rem;
    font-weight: 700;
    text-align: center;
    margin: 0px auto 20px auto;
}
.reviews__box-descriptions-img-block {
    text-align: center;
    margin: 0px auto 5px auto;
}
.reviews__box-descriptions-date-upload,
.reviews__box-descriptions-route {
    font-size: 0.938em;
    font-weight: 400;
    margin-bottom: 5px;
}
.reviews__box-text {
    width: 640px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

/* --- clients --- */

#clients {
    padding-bottom: 35px;
}
.section__clients-slider {
    position: relative;
    padding: 10px 40px;
    margin-bottom: 30px;
}
.clients-arrow-right,
.clients-arrow-left {
    position: absolute;
}
.clients-arrow-right {
    right: 0;
    top: 32px;
}
.clients-arrow-left {
    left: 0;
    top: 32px;
}
.clients-arrow-right:hover,
.clients-arrow-left:hover  {
    margin-top: -10px;
    cursor: pointer;
}
.clients__slider-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.clients__slider-box {
    margin: 0px auto;
}
.clients__slider-box-img {
    margin: 0px 15px;
}

/* --- footer --- */

#footer {
    padding-bottom: 10px;
}
.footer__confidencial-block {
    margin-top: 15px;
}
.footer__first-level, .footer__second-level {
    display: flex;
    justify-content: space-between;
}
.footer__confidencial-link {
    font-size: 0.750rem;
    color: var(--letterColor);
    font-weight: 500;
    border-bottom: 1px dotted var(--mainColor);
    padding-bottom: 2px;
    text-decoration: none;
}
.footer__confidencial-link:hover {
    color: var(--mainColor);
}
.footer__second-menu-list, .footer__first-menu-list {
    list-style-type: none;
}
.footer__first-menu-item, .footer__second-menu-item {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.footer__menu-item-link {
    color: var(--letterColor);
    text-decoration: none;
}
.footer__menu-item-link:hover {
    border-bottom: 1px dashed var(--mainColor);
    padding-bottom: 1px;
    color: var(--mainColor);
}
.footer__contacts-block {
    margin-bottom: 10px;
}
.footer__contacts-link {
    color: var(--letterColor);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 5px;
}
.footer__contacts-link:hover {
    color: var(--mainColor);
    border-bottom: 1px dashed var(--mainColor);
    padding-bottom: 1px;
}
.footer__second-level {
    background: #F2F2F2;
}
.adr, .footer__copyright-text {
    font-size: 1.125rem;
    font-weight: 600;
}
.footer__second-level {
    padding: 6px 0px;
}
.arrow__up {
    position: fixed;
    left: 50px;
    bottom: 15px;
    opacity: 0.6;
}
.arrow__up:hover {
    cursor: pointer;
}

/* --- contacts --- */

#contacts {
    padding: 30px 0px 50px 0px;
}
.box__contacts {
    display: flex;
}
.box__contacts-data {
    width: 620px;
    /* border: 3px solid var(--mainColor); */
    border-radius: 10px 0px 0px 10px;
}
.contacts__data-block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.contacts__data-block-img {
    width: 140px;
    height: 140px;
}
.contacts__data-phone {
    margin-top: 11px;
}
.contacts__data-company-icon {
    display: flex;
    padding: 15px;
}
.contacts__data-company-text {
    font-size: 1.063rem;
    line-height: 25px;
    font-weight: 400;
}
.contacts-data-icon {
    color: var(--mainColor);
    margin-right: 9px;
    margin-top: 4px;
}
.contacts__data-check-link {
    font-size: 1.063rem;
    font-weight: 600;
    color: #fff;
    padding: 7px 11px;
    background: var(--mainColor);
    text-decoration: none;
    border-radius: 10px;
    border: 0px;
}
.contacts__data-check-block {
    margin: 20px auto 30px;
    text-align: center;
}
.contacts__data-check-icon {
    color: #fff;
    margin-left: 5px;
}
.contacts__data-check-link:hover {
    background: #fff;
    color: var(--letterColor);
    border: 3px solid var(--mainColor);
    padding: 4px 8px;
    cursor: pointer;
}
.contacts__data-check-link:hover
.contacts__data-check-icon {
    color: var(--letterColor);
}
.contacts__data-check-list {
    list-style-type: none;
    margin-top: 20px;
}
.contacts__data-check-list-item {
    font-size: 1.063rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 26px;
}

/* --- breadcrumbs --- */

.box__breadcrumbs {
    margin: 25px 0px 0px auto;
}
.breadcrumbs__list {
    list-style-type: none;
    display: flex;
}
.breadcrumbs__link {
    text-decoration: none;
    color: var(--letterColor);
    font-size: 0.9rem;
    font-weight: 500;
}
.breadcrumbs__link:hover {
    cursor: pointer;
    color: var(--mainColor);
}
.breadcrumbs__list-span {
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--mainColor);
    margin: 1px 7px 0px 7px;
}

/* --- cart-technology --- */

.technology__cover {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.technology__cover-block-img {
    width: 300px;
}

/* --- section-page --- */

#service-page {
    padding: 20px 0px 70px 0px;
}
#service-page-form {
    padding: 30px 0px 90px 0px;
}

/* --- main-form --- */

.box__form-main {
    margin-top: 50px;
}
.form__main {
    width: 586px;
    border: 3px solid var(--mainColor);
    border-radius: 15px;
    padding: 15px 20px;
    margin: 0px auto;
}
.form__main-block {
    display: flex;
    justify-content: space-between;
}
.form__main-block-index-input,
.form__main-block-input {
    position: relative;
}
.form__main-block-index-input {
    margin: 0px 10px;
}
.form__main-input-label {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 7px;
}
.form__main-input {
    width: 221px;
    height: 33px;
    border: 2px solid #CFCFCF;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    box-shadow: 0px 4px 14px #9C9C9C;
}
.form__main-input::placeholder {
    font-size: 1.063rem;
    font-weight: 500;
    color: #CFCFCF;
}
.form__main-input:focus {
    border: 2px solid var(--mainColor);
}
.icon-input-form {
    position: absolute;
    color: #7BA5E8;
    font-size: 1.063rem;
    z-index: 1;
    top: 32px;
    left: 7px;
}
.form__main-input-span {
    font-size: 20px;
    font-weight: 700;
    color: tomato;
    margin-left: 5.5px;
}
.form__main-input-textatea {
    width: 221px;
    height: 90px;
    border: 2px solid #CFCFCF;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 18px;
    padding-top: 4px;
    font-weight: 500;
    box-shadow: 0px 4px 14px #9C9C9C;
    padding-left: 5px;
}
.form__main-btn {
    font-size: 1.313em;
    font-weight: 700;
    color: #fff;
    background: var(--mainColor);
    border: 0px;
    border-radius: 10px;
    padding: 7px 12px;
}
.form__main-btn-block {
    margin: 10px auto 0px 90px;
    text-align: center;
    margin-top: 28px;
}
.form__main-btn:hover {
    cursor: pointer;
    background: #fff;
    color: var(--letterColor);
    border: 3px solid var(--mainColor);
    padding: 4px 9px;
}
.form__main-error-text {
    color: tomato;
    margin: 0px auto;
    text-align: center;
    font-size: 1.063rem;
    font-weight: 600;
}
.form__main-success-text {
    color: green;
    margin: 0px auto;
    text-align: center;
    font-size: 1.063rem;
    font-weight: 600;
    padding: 15px 0px;
}

/* confidencial */

.box__privacy-policy {
    margin-bottom: 40px;
}
.box__privacy-policy-head-text {
    margin: 40px auto 20px auto;
    text-align: center;
    font-size: 1.85rem;
}
.box__privacy-policy-start {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 20px;
}
.box__privacy-policy-one-level {
    font-size: 1rem;
    line-height: 26px;
}
.box__privacy-policy-one-level {
    list-style-type: none;
    margin: 10px 0px;
}
.box__privacy-policy-two-level {
    list-style-type: none;
    margin: 10px 0px 10px 15px;
}
.box__privacy-policy-three-level {
    list-style-type: none;
    margin: 10px 0px 10px 30px;
}
.box__privacy-policy-link {
    text-decoration: none;
    color: var(--mainColor);
}
.box__privacy-policy-link {
    cursor: pointer;
}

/* --- certificate --- */

.box__certificate {
    margin: 20px 10px 40px 10px;
    text-align: center;
}

/* --- license --- */

.box__license {
    margin: 20px 10px 40px 10px;
    text-align: center;
}

/* --- preloader --- */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1001;
}
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--mainColor);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes preloader-bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}

/* --- blog --- */

.blog__list-articles-none {
    font-size: 1.1rem;
    font-weight: 600;
}
.box__blog {
    text-align: center;
    margin: 20px auto 40px auto;
}
.blog__head {
    font-size: 2.200rem;
    font-weight: 800;
    margin-bottom: 40px;
}
.blog__list-articles-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.blog__articles {
    width: 290px;
    background: #F2F2F2;
    border-radius: 5px;
    margin: 15px 10px 30px 10px;
}
.blog__articles:hover {
    box-shadow: 0px 10px 21px -12px #000000;
}
.blog__articles-head {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0px 10px 10px 10px;
    text-align: left;
    color: var(--mainColor);
}
.blog__articles-head:hover {
    color: #7299d8;
}
.blog__articles-img {
    width: 270px;
    border-radius: 5px;
    margin-top: 15px;
}
.blog__articles-date {
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 0px 15px 10px;
    text-align: left;
    font-style: italic;
}
.blog__articles-link {
    color: var(--letterColor);
    text-decoration: none;
}
.blog__articles-description {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 5px 10px 25px 10px;
}
.blog__head-block {
    text-align: center;
    margin: 20px auto 30px auto;
}
.blog__articles-content-img,
.blog__articles-content-img1 {
    width: 700px;
    border-radius: 3px;
}
.blog__articles-content-img1 {
    margin-bottom: 20px;
}
.blog__content-block {
    margin: 0px auto;
    text-align: center;
}
.blog__content-block
.blog__articles-description {
    line-height: 25px;
}
.blog__articles-additionally {
    margin-bottom: 30px;
    padding: 5px 10px 25px 10px;
}
.blog__articles-link-page {
    font-size: 1.1rem;
    font-weight: 700;
}
.blog__articles-link-page:hover {
    color: #7299d8;
}

/* --- 404 error --- */

.box__error-404 {
    text-align: center;
    margin: 20px auto 50px auto;
}
.box__error-404-text {
    font-size: 1.2rem;
    font-weight: 600;
}

/* --- vakansii --- */

#jobs {
    margin-top: 20px;
}
.jobs__head {
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: var(--mainColor);
    text-align: center;
}
.jobs__block-ul {
    display: flex;
    justify-content: space-around;
}
.jobs__list {
    list-style-type: none;
    margin: 30px 0px 25px 0px;
}
.jobs__list-item-block {
    display: flex;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}
.jobs__list-item-block svg {
    color: var(--mainColor);
}
.jobs__list-item {
    margin-left: 10px;
}
.jobs__list-item span {
    color: #636363;
    font-weight: 700;
}
